@using PyrotechnicShop.WebUI.Models
@using PyrotechnicShop.WebUI.HtmlHelpers
@model PyrotechnicsListViewModel
@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Pyrotechnics)
{
    @Html.Partial("PyrotechnicsSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>